@import './colours','./elevations';
  
body {
  background-color: $background--light;
}

.input {
  width: 50%;
  text-align: center;
  max-width: 180px;
  padding: 10px 10px;
  outline: none;
  color: $green;
  background-color: $background--light;
  border: none;
  border-radius: 10px;
  box-shadow: $el-1;
  margin: 10px auto 30px auto;
  box-sizing: content-box;
}

.chart {
  width: 100%;
  background-color: $background;
  display: flex;
  flex-direction: column;
  &__table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    .table__row {
      background-color: $background;
      color: white;
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .row__column {
        &--time {
          
          .column--time__text {
            display: flex;
            .column--time-time {
              margin-right: auto;
              transform: translateY(2px);
            }
          }
        }
        .column--time__symbol {
          user-select: none;
          margin-left: auto;
          margin-right: 5px;
          &--dark {
            color: $purple;
          }
          &--light {
            color: $yellow;
          }
        }
      }

      .row__head {
        color: $white;
        padding: 0 0 15px 0;
      }
      &:nth-child(even) {
        background-color: $background--light;
      }
    }
  }
  .chart__region {
    display: flex;
    flex-direction: column;
  }

  .chart__date {
    display: flex;
    flex-direction: column;
  }

  .date__label {
    margin: 10px 0 0 0;
    color: $white;
  }

  .region__label {
    color: $white;
    margin: 15px 0 0 0;
  }

  .region__text-button {
    background-color: transparent;
    border: none;
    outline: none;
    color: $green;
    text-decoration: underline;
    margin: 0 10% 0 auto;
    width: fit-content;
    cursor: pointer;
  }

  .region__hours {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    background-color: $background--light;
    box-shadow: $el-1;
    border-radius: 10px;
    padding: 15px 2%;
    .hours__option {
      background-color: $white;
      border: none;
      width: 30%;
      max-width: 50px;
      &--selected { 
        background-color: $purple;
      }
      &:hover {
        background-color: $green--light;
      }
    }
  }

  .region__card {
    background-color: $background--light;
    box-shadow: $el-1;
    border-radius: 10px;
    width: 60%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--closed {
      padding: 24px 0 0 0;
    }
    .card__price {
      width: 30%;
      outline: none;
      &--alt {
        color: $white;
        word-break: break-word;
      }
    }
    .card__button {
      background-color: transparent;
      outline: none;
      border: none;
      color: $green;
      padding: 0;
      display: block;
      cursor: pointer;
      &--close {
        margin: 5px 5px 0 auto;
      }
      &--submit {
        margin: 0 5px 5px auto;
      }
    }
    .card__title {
      color: $white;
      margin: 5px 0;
      word-break: break-word;
    }
  }
}

@media screen and (min-width: 600px) {
  .chart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__table {
      grid-column: 1/-1;
    }
    .date__picker {
      width: 100%;
      max-width: 180px;
      padding: 10px 10px;
      margin: 10px auto 50px auto;
    }
    .region__label {
      color: $green;
      margin: 10px 0 0 0;
    }
    .date__label {
      margin: 10px 0 0 0;
      color: $green;
    }

    .region__picker {
      width: 100%;
      max-width: 180px;
      padding: 10px 10px;
      margin: 10px auto 50px auto;
    }
  }
}

@media screen and (min-width: 1000px) {
  .chart {
    .date__picker {
      width: 100%;
      max-width: 180px;
      margin: 0;
    }
    .region__label {
      color: $green;
      margin: 0;
      height: fit-content;
      align-self: center;
    }
    .date__label {
      margin: 0;
      color: $green;
      height: fit-content;
      align-self: center;
    }
    .chart__region {
      flex-direction: row;
      justify-content: space-evenly;
      margin: 25px auto;
      max-width: 400px;
      width: 70%;
    }

    .chart__date {
      flex-direction: row;
      justify-content: space-evenly;
      margin: 25px auto;
      width: 70%;
      max-width: 400px;
    }

    .region__picker {
      margin: 0;
    }
  }
}