@import "./colours", "./elevations";

body {
  background-color: $background--light;
}

.input {
  width: 60%;
  text-align: center;
  max-width: 230px;
  padding: 10px 10px;
  outline: none;
  color: $green;
  background-color: $background--light;
  border: none;
  border-radius: 10px;
  box-shadow: $el-1;
  margin: 10px auto 30px auto;
  box-sizing: border-box;
}

.chart {
  width: 100%;
  background-color: $background;
  display: flex;
  flex-direction: column;
  &__snackbar {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 85%;
    color: $green--dark;
    background-color: $white;
    box-shadow: $el-1;
    width: 40%;
    max-width: 150px;
    padding: 10px 25px;
    border-radius: 12px;
    transition: all .5s ease;
    transform: translateX(-100vw);
    display: flex;
    min-width: 163px;
    .snackbar__text {
      transform: translateY(2.5px);
      margin-right: 10%;
    }
    &--active {
      transform: translateX(0px);
    }
  }
  &__table {
    .table__button-holder {
      display: flex;
      flex-direction: column;
      .button-holder__button--copy {
        cursor: pointer;
      }
      .button-holder__button--download {
        cursor: pointer;
      }
    }
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    .table__row {
      background-color: $background;
      color: white;
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .row__column {
        &--time {
          .column--time__text {
            display: flex;
            .column--time-time {
              margin-right: auto;
              transform: translateY(2px);
            }
          }
        }
        .column--time__symbol {
          user-select: none;
          margin-left: auto;
          margin-right: 5px;
          &--dark {
            color: $purple;
          }
          &--light {
            color: $yellow;
          }
        }
      }

      .row__head {
        color: $white;
        padding: 0 0 15px 0;
      }
      &:nth-child(even) {
        background-color: $background--light;
      }
    }
  }
  .chart__region {
    display: flex;
    flex-direction: column;
  }

  .chart__date {
    display: flex;
    flex-direction: column;
  }

  .date__label {
    margin: 10px 0 0 0;
    color: $white;
  }

  .region__label {
    color: $white;
    margin: 15px 0 0 0;
  }

  &__text-button {
    background-color: transparent;
    border: none;
    outline: none;
    color: $green;
    text-decoration: underline;
    margin: 0 10% 20px auto;
    width: fit-content;
    cursor: pointer;
  }

  .chart__hours {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    background-color: $background--light;
    box-shadow: $el-1;
    border-radius: 10px;
    padding: 15px 2%;
    .hours__option {
      background-color: $background--light;
      color: $white;
      border: 1px solid black;
      margin:1px 1px;
      width: 30%;
      aspect-ratio: 1/1;
      max-width: 50px;
      &--selected {
        background-color: $purple;
      }
      &:hover {
        background-color: $green--light;
      }
    }
  }

  .chart__card {
    background-color: $background--light;
    box-shadow: $el-1;
    border-radius: 10px;
    width: 60%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    box-sizing: border-box;
    &--closed {
      padding: 24px 0 0 0;
    }

    .card__time {
      background-color: $background--light;
      color: $green;
      border: none;
      border-radius: 12px;
      box-shadow: $el-1;
      margin:15px auto 0 auto;
      padding: 5px 15px;
      cursor: pointer;
      max-width: 150px;
    }

    .card__price {
      width: 40%;
      outline: none;
      border-radius: 24px;
      border: none;
      box-shadow: $el-1;
      padding: 5px 10px;
      &--alt {
        color: $white;
        word-break: break-word;
      }
    }
    .card__button {
      background-color: transparent;
      outline: none;
      border: none;
      color: $green;
      padding: 0;
      display: block;
      cursor: pointer;
      &--close {
        margin: 5px 5px 0 auto;
      }
      &--submit {
        margin: 0 5px 5px auto;
      }
    }
    .card__title {
      color: $white;
      margin: 5px 0;
      word-break: break-word;
    }
  }
}

@media screen and (min-width: 600px) {
  .chart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__table {
      grid-column: 1/-1;
      .table__button-holder {
        flex-direction: row;
      }
    }
    .date__picker {
      width: 100%;
      max-width: 180px;
      padding: 10px 10px;
      margin: 10px auto 50px auto;
    }
    .region__label {
      margin: 10px 0 0 0;
    }
    .date__label {
      margin: 10px 0 0 0;
    }

    &__card {
      grid-column: 1/-1;
    }
    &__text-button {
      margin: 0 10% 20px auto;
      width: fit-content;
      grid-column: 2/3;
    }
    .chart__hours {
      width: 60%;
      max-width: 350px;
      margin: 5px auto 35px auto;
      grid-column: 1/-1;
      box-sizing: border-box;
    }
  }
}

@media screen and (min-width: 1000px) {
  .chart {
    .date__picker {
      width: 100%;
      max-width: 180px;
      margin: 0;
    }
    .region__label {
      margin: 0;
      height: fit-content;
      margin: 18px 0;
    }
    .date__label {
      margin: 0;
      height: fit-content;
      margin: 18px 0;
    }
    .chart__region {
      flex-direction: row;
      justify-content: space-evenly;
      margin: 25px auto;
      width: 70%;
      max-width: 400px;
    }

    .chart__date {
      flex-direction: row;
      justify-content: space-evenly;
      margin: 25px auto;
      width: 70%;
      max-width: 400px;
    }
    .chart__card {
      max-width: 350px;
    }
    .chart__hours {
      width: 80%;
      max-width: 400px;
      margin: 5px auto 35px auto;
      grid-column: 1/-1;
      box-sizing: border-box;
      // .hours__option {
      //   background-color: $white;
      //   border: none;
      //   width: 30%;
      //   max-width: 50px;
      // }
    }
  }
}
